* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  background: #efefef;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
h1 {
  color: #c41c1c;
  font-size: 2rem;
}
h3 {
  color: #1aad29;
}
input[type="color"] {
  margin-right: 10px;
  min-width: 100px;
}
input[type="number"] {
  height: 1.5rem;
  min-width: 150px;
  padding-left: 10px;
}
select {
  height: 1.5rem;
  min-width: 150px;
  margin-right: 10px;
}
label {
  margin-right: 10px;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.main-container {
  display: flex;
  flex-direction: column;
}
.resetButton {
  color: hsl(0, 0%, 0%);
  font-size: 1.5rem;
  background-color: hsl(128, 100%, 50%);
  padding: 5px 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px #002902;
  margin-left: auto;
}
.resetButton:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 36, 2);
}
.canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.canvas-solo {
  border: 1px solid #5c4949;
}
.inputs {
  display: flex;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
  .resetButton {
    margin-left: 10px;
    margin-top: 20px;
  }
  .mobile {
    display: none;
  }
  input {
    margin-top: 20px;
  }
  select {
    margin-top: 20px;
  }
  label {
    margin-top: 20px;
  }
  .inputs {
    flex-direction: column;
    padding: 10px;
  }
}
@media screen and (max-width: 400px) {
  input[type="color"] {
    min-width: 100px;
  }
  select {
    min-width: 100px;
  }
  input[type="number"] {
    min-width: 100px;
  }
}
